<header>
  <div class="container">
    <div class="intro-text">
      <div style="border-radius: 25px; background-color:rgba(0, 0, 0, 0.7); padding: 25px 0px;">
        <div class="intro-lead-in">Park Your Car</div>
        <div class="intro-heading">Closer to you!</div>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Street">
          </div>
          <div class="form-group">
            <input type="text" type="text" class="form-control" data-provide='datepicker' placeholder="From">
          </div>
          <div class="form-group lettersVisibility">
            <input type="text" type="text" class="form-control" data-provide='datepicker' placeholder="To">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
  </div>
</header>
