<%= render 'layouts/jumbotron' %>
<div class="container">
    <div class="row">
	    <div class="col-md-offset-1 col-md-10">
	    	<%= render 'layouts/sidenav' %>
			<div class="col-sm-9 col-md-9">
	            <div class="well">
	                <h1>Dashboard</h1>
	            </div>
	     	</div>
	    </div> 	
	</div>	 
</div>
