<%= render 'layouts/jumbotron' %>
<div class="container">
	<div class="row">
	    <div class="col-md-offset-1 col-md-10">
	    	<h1 class="section-heading page-header">FAQ - Frequently Asked Questions</h1>
		    <div class="alert alert-warning alert-dismissible" role="alert">
		        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        This section contains a wealth of information, related to <strong>Park your Car</strong> and its spaces. If you cannot find an answer to your question, 
		        make sure to <a href="mailto:parkyourcarapp@gmail.com">contact us</a>. 
		    </div>
		    <br />
		    <div class="panel-group" id="accordion">
		        <h2 class="section-heading page-header">General Questions</h2>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
		                </h4>
		            </div>
		            <div id="collapseOne" class="panel-collapse collapse in">
		                <div class="panel-body">
		                    Account registration at <strong>Park your Car</strong> is only required if you will be reserve or advertise a space. 
		                    This ensures a valid communication channel for all parties involved in any transactions. 
		                </div>
		            </div>
		        </div>
		        <br />
		        <h2 class="section-heading page-header">Space Owners</h2>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How i submit my own space in Park Your Car?</a>
		                </h4>
		            </div>
		            <div id="collapseTwo" class="panel-collapse collapse">
		                <div class="panel-body">
		                    You can submit your space easily. First, you must create an account in Park your Car. Second, you must sign in. Last, you only need access Add Space link and complete information about your space.
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Who can reserve spaces?</a>
		                </h4>
		            </div>
		            <div id="collapseThree" class="panel-collapse collapse">
		                <div class="panel-body">
		                    Any registed user can reserves your space, only on schedule that you allowed
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">How much do I get from each space?</a>
		                </h4>
		            </div>
		            <div id="collapseFour" class="panel-collapse collapse">
		                <div class="panel-body">
		                    You receive the price that you defined when you create the space. You can also choose different prices for different schedules.
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Why advertising my spaces here?</a>
		                </h4>
		            </div>
		            <div id="collapseFive" class="panel-collapse collapse">
		                <div class="panel-body">
		                    There are a number of reasons why you should join us:
		                    <ul>
		                        <li>Allow you advertising multiple spaces</li>
		                        <li>Fast response times to get bookings</li>
		                        <li>We are not an exclusive marketplace. This means that you can advertising your spaces on <strong>Park your Car</strong>, as well as on any other marketplate, and thus increase your earning potential.</li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What are the payment options?</a>
		                </h4>
		            </div>
		            <div id="collapseSix" class="panel-collapse collapse">
		                <div class="panel-body">
		                    There is no way to transfer funds in Park Your car. This platform does not ensures timely payments and a secure environment. 
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">When do I get paid?</a>
		                </h4>
		            </div>
		            <div id="collapseSeven" class="panel-collapse collapse">
		                <div class="panel-body">
		                    You get paid directly from driver. You must decide which payment method you will use directly with the driver that will occupy your space. 
		                </div>
		            </div>
		        </div>
		        <br />
		        <h2 class="section-heading page-header">Drivers</h2>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What it need to search a space?</a>
		                </h4>
		            </div>
		            <div id="collapseEight" class="panel-collapse collapse">
		                <div class="panel-body">
		                    Only need to search a space in our search form indicating local and distance that you want, get multiple results and select what suits your preferences.
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">I want reserve a space - what are the steps?</a>
		                </h4>
		            </div>
		            <div id="collapseTwelve" class="panel-collapse collapse">
		                <div class="panel-body">
		                It is as simple as 3 steps!
		                    <ul>
		                        <li>Find the perfect spot where you want to park your car.</li>
		                        <li>Schedule with the space owner the period of the day that suits your interest.</li>
		                        <li>Go there, find the owner and Park it. The space is yours!</li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		        <div class="panel panel-default">
		            <div class="panel-heading">
		                <h4 class="panel-title">
		                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Why reserve spaces here?</a>
		                </h4>
		            </div>
		            <div id="collapseThirteen" class="panel-collapse collapse">
		                <div class="panel-body">
		                    There are a number of reasons why you should join us:
		                    <ul>
		                        <li>Flexible search that allow you suit your preferences</li>
		                        <li>Get multiple spaces for your location needs.</li>
		                        <li>We are not an exclusive marketplace. This means that you can reserve spaces on <strong>Park your Car</strong>, as well as on any other marketplate, and thus increase your bookings potential to be accepted.</li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div> 	
</div>	 


