<%= render 'layouts/jumbotron' %>
<div class="container">
    <div class="row">
	    <div class="col-md-offset-1 col-md-10">
            <div class="well">
                <h1>Frequently Asked Questions (FAQ)</h1>
            </div>
	    </div> 	
	</div>	 
</div>