<%= render 'layouts/jumbotron' %>
<div class="container">
    <div class="row">
	    <div class="col-md-offset-1 col-md-10">
            <h1 class="section-heading page-header">About Us</h1>
	    </div> 	
	</div>	 
</div>