<%= render 'layouts/jumbotron' %>
<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <%= render 'layouts/sidenav' %>
        <div class="col-sm-9 col-md-9">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Listing Favorites</h3>
            </div>
            <div class="panel-body">
            <% if current_user.favorites.empty? %>
            You have no favorite spaces.
            <% else %>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Space</th>
                      <th/>
                      <th class="col-md-2">Schedule</th>
                      <th class="col-md-3">Starting at</th>
                      <th colspan="2"/>
                    </tr>
                  </thead>
                  <tbody>
                    <%= render @favorites %>
                  </tbody>
                </table>
              </div>
              <%= will_paginate @favorites, renderer: BootstrapPagination::Rails %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
