<%= link_to reject_proposal_path(booking),
            data: { confirm: 'Are you sure?' },
            class: "btn btn-danger btn-xs" do %>
  <span class="glyphicon glyphicon-remove"> Reject</span>
<% end %>
