<tr>
  <td class="col-md-3" ><%= review.user.full_name %> </td>
  <td class="col-md-8"><%= review.comment %><br><span style="color: grey; font-size: 10px"><%= l review.created_at, format: :short %></span></td>
  <td class="col-md-1">
    <span class="stars"><%= review.evaluation %></span>
  </td>
</tr>
