
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Reviews</h3>
    </div>
    <div class="panel-body">
      <% if @reviews.empty? %>
      <p>There's no reviews for this space.
        <% if @booked_by_user %>
        Be the first reviewing this space.
        <%= render 'reviews/form' %>
        <% end %>
      </p>
      <% else %>
        <table class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Comment</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <%= render @reviews %>
          </tbody>
        </table>
        <%= will_paginate @reviews, param_name: 'review_page', renderer: BootstrapPagination::Rails %>
        <% if(@booked_by_user && !@user_already_reviewed)%>
        <%= render 'reviews/form' %>
        <% end %>
      <% end %>
  </div>
</div>
