<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading page-header">How it works?</h1>
                <p class="lead section-lead">It is as simple as 3 steps!</p>
                <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <%= image_tag("icon-search.png", width: '75px', heigh: '75px') %>
                      <div class="caption">
                        <h3>Search</h3>
                        <p>Find the perfect spot where you want to park your car.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <%= image_tag("icon-calendar.png", width: '75px', heigh: '75px') %>
                      <div class="caption">
                        <h3>Reserve</h3>
                        <p>Schedule with the space owner the period of the day that suits your interest.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                      <%= image_tag("icon-car.png", width: '75px', heigh: '75px') %>
                      <div class="caption">
                        <h3>Park</h3>
                        <p>Go there, find the owner and Park it. The space is yours!</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
