<!-- Content Section -->
<section >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading page-header">Park your Car</h1>
                <p class="lead section-lead">Closer to you</p>
                <p class="section-paragraph">The idea is brutally simple: we connect drivers in search of parking with anyone who has a space going spare, whether in a car park, private driveway, church, school, or pub.</p>
             </div>
        </div>
    </div>
</section>
