<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
	        <div class="col-md-2">
	            <%= image_tag("blue_logo_background.png", class: 'img-responsive', height: '200', width: '200') %>   
	        </div>
            <div class="col-md-10">
                <h3 class="section-heading page-header">Park your Car <small>Closer to you</small></h3>
                <p class="lead">Connecting drivers in search of parking with anyone who has a space going spare</p>
             </div>
        </div>
    </div>
</section>
